{% extends './base.html' %}
{%load static %}
{% block title %}
    Personal Care
{% endblock title %}



{% block content %}


<section>



<div class="container">
<div id='tawk_61c86cb6c82c976b71c39104'></div>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date(); Tawk_API.embedded='tawk_61c86cb6c82c976b71c39104';
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/61c86cb6c82c976b71c39104/1fnrs2p4d';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);})();
</script>
<!--End of Tawk.to Script-->
</div>





  </section>
{% endblock content %}


