{% extends './base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Forgot Password - AAP
{% endblock title %}




{% block content %}
<div class="container m-auto">

    {% include "./loadernone.html" %}

<div class="my-5 py-5">
    <div class="card shadow" style="
    max-width: 600px;
    padding: 2rem;
    margin: 0 auto;
">      
    {%if otpsent is True %}
    
    <form id="otpform" action="{% url 'verifyotp' %}" class="form" method="POST">
        

        {%csrf_token%}
        <p class="alert alert-info text-sm">We have sent a 4 Digits otp to your registered number. Please check your phone sms and enter the Code below</p>
        <input type="number" name="contact_no" value="{{contact_no}}" hidden>
        <input class="form-control" type="number" id="otp" name="otp" required placeholder="XXXX"><br>
       
        {% if invalidotp is True %}
        <small class="text-danger text-sm">Invalid OTP. Please enter correct OTP or <a href="{%url 'forgotpassword' %}" class="text-decoration-none" >Request Another</a></small>
        <br>
        {%endif%}

        <input class="form-control btn primary-color" type="submit" value="Verify"/>

    </form>

    {%else %}

      <form id="forgetpassform" class="form" action="{% url 'forgotpassword' %}" method="POST">
          {% csrf_token %}
        <h2 class="text-center">Forgot Password</h2>

        {%if error %}

        <p class="alert alert-danger">{{error}}</p>

        {%endif %}

        <br>

        <label for="contact_no">Your Contact No. that you registered</label><br>
        <input class="form-control" type="number" name="contact_no" required placeholder="017XXXXXX"><br>
        
        <br>
        <input class="form-control btn primary-color" type="submit" value="Submit"/>
      </form>
    {%endif%}
    

    </div>


</div>

</div>


  
{% endblock content %}

{% block js %}
<script type="text/javascript">

    var loader = document.getElementById('loader');
    var alert = document.getElementById('alert');
  
    
      document.addEventListener('submit', function(e) {
        loader.classList.toggle('d-none');
        
    })
        
  
  
  
  
  
  </script>
  
        
  {% endblock js %}

