{% extends './base.html' %}
{% load courses_custom_tags %}

{% block title %}
    My Courses
{% endblock title %}



{% block content %}
<br>
<br>

<div class="container">
    <h1 class="display-4 text-center">My Courses</h1>
    <hr>
    <br>
    <div class="row">

  
  
     
    <br>
        
    {%if not usercourses %}

    <div class="m-auto text-center">
        <p class="alert text-center alert-warning">You don't have any course.</p>
        <a href="{% url 'home' %}#courses" class="btn btn-primary btn-sm">Add Courses</a>
    </div>

    {%endif %}

        <!-- course items -->
        <div >
            <div class="col-lg-1"></div>
            <div class="col-lg-10 mx-auto">
                <div class="row">
                    {% for course in usercourses %}
                   <div class="col mx-auto my-2">
    
    <div class="card mx-auto shadow" style="width: 18rem;">
    <a href="{% if course.course.running_week %}/course/{{course.course.slug}}?week={{course.course.running_week}}{%else%}/course/{{course.course.slug}} {%endif%}">
    <img src="{{course.course.thumbnail.url}}" class="card-img-top rounded" alt="{{course.course.name}}">
    </a>
    <div class="card-body">
        <a href="{% if course.course.running_week %}/course/{{course.course.slug}}?week={{course.course.running_week}}{%else%}/course/{{course.course.slug}} {%endif%}" class="text-decoration-none text-black">
        <h5 class="card-title">{{course.course.name}}</h5>
        </a>
        <p class="card-text">
            
            <!--PRICE AREA-->
            <!--<span class="badge rounded-pill bg-warning text-dark price">-->

            <!--{% if course.price > 0 and course.discount > 0 %}-->
            <!--    {% cal_sellprice course.price course.discount as sellprice %}-->
            <!--    {{sellprice|bdt}} -->

            <!--{% elif course.price > 0 and course.discount == 0 %}-->
            <!--    {{course.price|bdt}} tk               -->
          
                

            

            <!--{% else %}-->
            <!--Free                -->
            <!--{% endif %}-->
            <!--</span>-->

            <!-- {% if course.discount > 0 %}-->
            <!-- &nbsp;<del>{{course.price|bdt}}</del>-->
            <!-- &nbsp; <span class="text-danger bold">{{course.discount}}% OFF</span>-->
            <!--  {% endif %}-->
              
              
                
        </p>
        
    </div>

    <div class="card-footer p-0">
        <div class="row no-gutters">
            <div class="col">
             
                <a href="{% if course.course.running_week %}/course/{{course.course.slug}}?week={{course.course.running_week}}{%else%}/course/{{course.course.slug}} {%endif%}" class="btn btn-primary d-block">Start Course</a>

              
            </div>
        
          
        </div>

    </div>
    </div>
    

    </div>
                    {%endfor%}
                    
                    
                </div><!-- end col -->
            </div>
            <!-- end row -->
            <div class="col-lg-1"></div>
        <br>
        {%if usercourses %}
        <div class="text-center my-3 py-2"><a href="{% url 'home' %}#courses" class="m-auto btn btn-primary btn-sm">Add More Courses</a></div>
        <div class="text-center my-3 py-2"><a href="{% url 'removecourse' %}" class="m-auto btn btn-secondary btn-sm">Remove Course</a></div>

            {% endif %}        
        
        </div>

    </div>

</div>


  
{% endblock content %}