{% extends './base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Reset Password - AAP
{% endblock title %}




{% block content %}
<div class="container m-auto">

    <div id="loader" class="d-flex justify-content-center d-none" style="
    background: #355aae69;
    align-items: center;
    width: 100%;
    z-index: 5;
    height: 100%;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
">
      <div class="spinner-border" style="
      width: 5rem;
      height: 5rem;
  " role="status">
      
      </div>
</div>

<div class="my-5 py-5">
    <div class="card shadow" style="
    max-width: 600px;
    padding: 2rem;
    margin: 0 auto;
">      
 

      <form class="form" action="{% url 'resetpassword' %}" method="POST">
          {% csrf_token %}
        <h2 class="text-center">Set New Password</h2>
        <br>
        <input class="form-control" type="number" name="contact_no" value="{{contact_no}}" hidden required/>
        <label for="password1">Enter new password</label>
        <input class="form-control" type="password" name="password1" id="password1" required minlength="6"/>
        <br>
        <label for="password2">Enter again</label>
        <input class="form-control" type="password" name="password2" id="password2" required/>

        <br>
      
        <small id="alert" class="text-danger d-none"></small>
        
        <button class="form-control btn primary-color" onclick="return val()" type="submit">Reset Password</button>
      </form>
  
    

    </div>


</div>

</div>


  
{% endblock content %}

{% block js %}
<script type="text/javascript">
 
    
 function val(){
  var alert = document.getElementById('alert');
  var loader = document.getElementById('loader');

  var password1 = document.getElementById('password1').value;
  var password2 = document.getElementById('password2').value;
  var passw = /^(?=.*\d)(?=.*[A-Za-z]).{6,20}$/;
  
  if(password1.match(passw)){
    
      if(password1 == password2){

        
        return true;

      }
      else{
      
        alert.innerText = "You must enter same password in both input";
        alert.classList.remove('d-none');
        setTimeout(function(){
          alert.classList.add('d-none')
        },5000)
        return false;

      }

  }else{
    
    alert.innerText = "Password should have atleast one character and one number";
    alert.classList.remove('d-none');
    setTimeout(function(){
        alert.classList.add('d-none')
      },5000)
    return false;

  }
}

  document.addEventListener('submit', function(e) {
        loader.classList.toggle('d-none');
        
    })
  
  
  
  
  </script>
  
        
  {% endblock js %}

