{% extends '../coursesapp/base.html' %}
{%load static %}

{% block title %}
    Pathshala Barta
{% endblock title %}

{%block header %}
   {% include "../barta/bartaheader.html" %}
  {%endblock header %}

{%block css%}
<link rel="stylesheet" href="{% static 'css/owlcarousel/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'css/owlcarousel/owl.theme.default.min.css' %}">
{%endblock css%}

{%block content %}


<style>
    
    @font-face {
      font-family: 'SutonnyOMJunicode';
      src: url('https://www.aapathshala.com/static/fonts/SutonnyOMJunicode.ttf') format("truetype");
    }
    img.card-img-top.img-fluid.barta-img {
    max-height: 350px;
}
.news-box{
    display: flex;
    align-items: center;
    border: .5px solid #dcd7d7;
    margin: 5px 0;
    padding: 10px;
    font-family: 'SutonnyOMJunicode', sans-serif;
    
}
.font-sutonny{
    font-family: 'SutonnyOMJunicode', sans-serif;
}

a, .news-title {
    color: #000;
    text-decoration: none !important;
    padding-top: 1rem;
}
.news-box a.news-img{
    width: 220px;
    height: auto;
    padding: .75rem;
    align-items: center;
}
/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 100%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  
  width: 450px !important;

}

/* Add a card effect for articles */
.card {
   background-color: white;
   padding: 20px;
   margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}



/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}
@media (max-width:600px) {
    .news-text h2{
        font-size: calc(.95rem + .25vw);
    margin-bottom: 0;
    font-weight: bold;
    }
    .news-text span{
        font-size:.60rem;
        margin: 0;
        padding:0;
    }
    .news-text p{
        font-size:14px;
    }
}
</style>
<div class="container">
    
 
    
    
    <div class="row">
        
        <!-- Blog entries-->
        <div class="col-lg-8">
            <div style="display: flex;justify-content: space-between;">
            <a href="{% url 'home' %}" class="btn mb-3 btn-sm bg-dark text-light">Home</a>
             <div class="dropdown d-lg-none">
              <button class="btn btn-dark text-light btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Categories
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                   {% for category in categories %}
                                 <li><a class="dropdown-item" href="{% url 'categorypost' category.slug %}">{{category.name}}</a></li>
                         
                             
                                {%endfor%}
                                
                                    
                                 <li><a class="dropdown-item" href="{% url 'all_notice' %}">All Notice</a></li>
               
                
              </ul>
            </div>
            </div>
            <!-- Featured blog post-->
                    
                    <!--Modals-->
            <section id="single-notice" class="mt-3 mb-4 mt-1">
                
            {% include "coursesapp/partials/single-notice.html" %}
            {% block js %}

<script src="{% static 'js/owlcarousel/owl.carousel.min.js' %}"></script>
<script>
    var count = '{{single_notice|length}}'
    var countInt = parseInt(count)
    var owl = $('.owl-carousel');
    owl.owlCarousel({
        
        loop: true,
        margin: 10,
        autoplay: true,
        autoplayTimeout: 3000,
        autoplayHoverPause: true,
        
        responsive: {
            // breakpoint from 0 up
            0: {
                items: 1,
            },
            // breakpoint from 480 up
            480: {
                items: 2,
            },
            // breakpoint from 768 up
            768: {
                items: 3,
            },
            1024: {
                items: 3,
            }
        }
    });

</script>
{% endblock js %}
            </section>
            
                                
                    
            <div class="card mb-4">
                <a href="{% url 'singlepost' catslug=lastbarta.category.slug id=lastbarta.id %}"><img class="card-img-top img-fluid barta-img" src="{{lastbarta.cover_picture.url}}" alt="{{lastbarta.title}}" /></a>
                <div class="card-body">
                    <div class="small text-muted">{{lastbarta.created_at}}</div>
                    <h2 class="card-title font-sutonny">{{lastbarta.title}}</h2>
              
                    <p class="card-text font-sutonny">{{lastbarta.description|truncatewords:20|safe}}</p>
                    <a class="btn primary-color" href="{% url 'singlepost' catslug=lastbarta.category.slug id=lastbarta.id %}">Read more →</a>
                </div>
            </div>
            <!-- Nested row for non-featured blog posts-->
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="row">
                    {% for barta in barta %}
                    
                        <div class="col-md-6">
                              <div class="leftcolumn">
                        <div class="card">
                                <h6 class="fw-normal">{{barta.category}}, {{barta.created_at}}
                            </h6>
                           <a class="news-img" href="{% url 'singlepost' catslug=barta.category.slug id=barta.id %}">
                          <img class="img-fluid fakeimg" style="height:200px;" src="{{barta.cover_picture.url}}"/>
                           </a>
                            <a class="news-img" href="{% url 'singlepost' catslug=barta.category.slug id=barta.id %}">
                                <h4 class="news-title text-center">{{barta.title}}</h4>
                            </a>
                        
                           
                              <!--<p>{{barta.description|truncatewords:20|safe}}</p>-->
                        </div>
                   
                      </div>
                            
                        </div>
                    
                    
                    
                
                      
         
                
                  
                 
                    {% endfor %}
                    </div>
                   
                   
              
               
                 
                </div>
               
            </div>
            <!-- Pagination-->
            <!-- <nav aria-label="Pagination">
                <hr class="my-0" />
                <ul class="pagination justify-content-center my-4">
                    <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">Newer</a></li>
                    <li class="page-item active" aria-current="page"><a class="page-link" href="#!">1</a></li>
                    <li class="page-item"><a class="page-link" href="#!">2</a></li>
                    <li class="page-item"><a class="page-link" href="#!">3</a></li>
                    <li class="page-item disabled"><a class="page-link" href="#!">...</a></li>
                    <li class="page-item"><a class="page-link" href="#!">15</a></li>
                    <li class="page-item"><a class="page-link" href="#!">Older</a></li>
                </ul>
            </nav> -->
        </div>
        <!-- Side widgets-->
        {% include '../barta/sidebar.html' %}
    </div>
</div>

{%endblock content %}